.button {
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  border: none;

  &--primary {
    font: normal em(16) / 1 $font-secondary;
    text-transform: uppercase;
    color: map-get($colors, accent);
    background: map-get($colors, background);
    padding: em(8, 16) em(14, 16);
    border-radius: em(6, 16);
    border: em(2, 16) solid map-get($colors, accent);
    box-shadow: 0 0 em(12, 16) rgba(#121212, 0.6),
      inset 0 0 em(4, 16) rgba(#121212, 0.3);
  }
}
