.factions {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 em(24);

  .factions__cell {
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin: em(7) 0;
  }
}

.faction {
  font: normal em(11) / 1 $font-secondary;
  color: white;
  text-shadow: 0 0 em(4, 11) rgba(#121212, 0.7);
  width: em(68, 11);
  height: em(68, 11);
  border: em(3) solid #8e8f91;
  border-radius: 100%;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus,
  &:hover,
  &.is-active {
    border-color: #d4c34d;
    box-shadow: 0 em(1) em(8) rgba(#d4c34d, 0.5);
  }

  &.is-invisible {
    pointer-events: none;
    visibility: hidden;
  }

  &.is-inactive {
    pointer-events: none;
  }

  &--chaos-magicians,
  &--giants {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-red), 10%), 0.8);
    background: map-get($colors, faction-red-gradient);
  }

  &--fakirs,
  &--nomads {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-yellow), 10%), 0.8);
    background: map-get($colors, faction-yellow-gradient);
  }

  &--halflings,
  &--cultists {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-brown), 10%), 0.8);
    background: map-get($colors, faction-brown-gradient);
  }

  &--alchemists,
  &--darklings {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-black), 10%), 0.8);
    background: map-get($colors, faction-black-gradient);
  }

  &--mermaids,
  &--swarmlings {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-blue), 10%), 0.8);
    background: map-get($colors, faction-blue-gradient);
  }

  &--auren,
  &--witches {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-green), 10%), 0.8);
    background: map-get($colors, faction-green-gradient);
  }

  &--engineers,
  &--dwarves {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-gray), 10%), 0.8);
    background: map-get($colors, faction-gray-gradient);
  }

  &--yetis,
  &--ice-maidens {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-blue), 10%), 0.8);
    background: map-get($colors, faction-blue-gradient);
  }

  &--acolytes,
  &--dragonlords {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-red), 10%), 0.8);
    background: map-get($colors, faction-red-gradient);
  }

  &--shapeshifters,
  &--riverwalkers {
    box-shadow: em(1) em(1) em(8) rgba(#121212, 0.6),
      inset 0 0 em(20) rgba(darken(map-get($colors, faction-gray), 10%), 0.8);
    background: map-get($colors, faction-gray-gradient);
  }
}
