.factions {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 em(24);

  .factions__cell {
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin: em(12) 0;
  }

  .faction {
    font: normal em(12) / 1 $font-secondary;
    width: 20vw;
    height: 20vw;
    border: em(3) solid #8e8f91;
    border-radius: 100%;
    box-shadow: 0 em(1) em(8) rgba(#121212, 0.5);
    // inset 0.4em 0.4em 0.8em rgba(#9f4014, 0.5);
    transition: all 0.3s ease-in-out;

    &:focus,
    &:hover,
    &.is-active {
      border-color: #d4c34d;
      box-shadow: 0 em(1) em(8) rgba(#d4c34d, 0.5);
    }

    &--chaos-magicians {
      background: map-get($colors, faction-red);
    }

    &--giants {
      background: map-get($colors, faction-red);
    }

    &--fakirs {
      background: map-get($colors, faction-yellow);
    }

    &--nomads {
      background: map-get($colors, faction-yellow);
    }

    &--halflings {
      background: map-get($colors, faction-brown);
    }

    &--cultists {
      background: map-get($colors, faction-brown);
    }

    &--alchemists {
      background: map-get($colors, faction-black);
    }

    &--darklings {
      background: map-get($colors, faction-black);
    }

    &--mermaids {
      background: map-get($colors, faction-blue);
    }

    &--swarmlings {
      background: map-get($colors, faction-blue);
    }

    &--auren {
      background: map-get($colors, faction-green);
    }

    &--witches {
      background: map-get($colors, faction-green);
    }

    &--engineers {
      background: map-get($colors, faction-gray);
    }

    &--dwarves {
      background: map-get($colors, faction-gray);
    }

    &--yetis {
      background: map-get($colors, faction-blue);
    }

    &--ice-maidens {
      background: map-get($colors, faction-blue);
    }

    &--acolytes {
      background: map-get($colors, faction-red);
    }

    &--dragonlords {
      background: map-get($colors, faction-red);
    }

    &--shapeshifters {
      background: map-get($colors, faction-gray);
    }

    &--riverwalkers {
      background: map-get($colors, faction-gray);
    }
  }
}
