html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../images/table-background.jpg') 50% 50% / cover no-repeat;

  &__slider {
    display: flex;
    flex-flow: row nowrap;
    width: 300%;
    height: 100%;
    transition: all 0.6s ease-in-out 0.2s;
  }
}

.view {
  flex: 0 0 auto;
  width: 33.33%;
  height: 100%;
  padding: em(16);

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: map-get($colors, background);
    background: url('../images/view-background.jpg') 50% 50% / cover no-repeat;
    padding: em(18);
    border-radius: em(12);
    box-shadow: 0 0 em(12) rgba(#121212, 0.6), 0 0 em(6) rgba(#121212, 0.5),
      inset 0 0 em(8) rgba(white, 0.5);
    border: 1px solid #637d93;
  }

  &__title {
    font: normal em(36) / 1.1 $font-primary;
    color: map-get($colors, primary);
    @include text-stroke(
      $size: 2,
      $color: lighten(map-get($colors, secondary), 2%)
    );
  }

  &__subtitle {
    font: normal em(22) / 1.1 $font-primary;
    color: map-get($colors, primary);
    margin: 0 0 em(20, 22);
    @include text-stroke(
      $size: 1,
      $color: lighten(map-get($colors, secondary), 2%)
    );
  }

  &__description {
    font: italic em(14) / 1.3 $font-secondary;
    color: map-get($colors, text);
    text-shadow: 0 0 em(12, 14) #121212;
    text-align: center;
    margin: 0 0 em(18, 14);
  }
}
