html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__slider {
    display: flex;
    flex-flow: row nowrap;
    width: 300%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
}

.view {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
  padding: em(24);
  background-color: map-get($colors, background);

  &__title {
    font: normal em(36) / 1.1 $font-primary;
    color: map-get($colors, primary);
  }

  &__subtitle {
    font: normal em(20) / 1.1 $font-primary;
    color: map-get($colors, primary);
    margin: 0 0 em(12, 22);
  }

  &__description {
    font: normal em(14) / 1.3 $font-secondary;
    text-align: center;
    margin: 0 0 em(18, 14);
  }
}
