$colors: (
  background: #426480,
  primary: #eedaa1,
  secondary: #08292f,
  accent: #d4c34d,
  text: #fff,
  faction-red: #c05c2f,
  faction-red-gradient:
    linear-gradient(to bottom, lighten(#c05c2f, 20%), #c05c2f),
  faction-yellow: #d4a515,
  faction-yellow-gradient:
    linear-gradient(to bottom, lighten(#d4a515, 20%), #d4a515),
  faction-brown: #845b37,
  faction-brown-gradient:
    linear-gradient(to bottom, lighten(#845b37, 20%), #845b37),
  faction-black: #3d3f33,
  faction-black-gradient:
    linear-gradient(to bottom, lighten(#3d3f33, 20%), #3d3f33),
  faction-blue: #549bb3,
  faction-blue-gradient:
    linear-gradient(to bottom, lighten(#549bb3, 20%), #549bb3),
  faction-green: #61a23e,
  faction-green-gradient:
    linear-gradient(to bottom, lighten(#61a23e, 20%), #61a23e),
  faction-gray: #939391,
  faction-gray-gradient:
    linear-gradient(to bottom, lighten(#939391, 20%), #939391),
  faction-ice: #c05c2f,
  faction-ice-gradient:
    linear-gradient(to bottom, lighten(#c05c2f, 20%), #c05c2f),
  faction-fire: #c05c2f,
  faction-fire-gradient:
    linear-gradient(to bottom, lighten(#c05c2f, 20%), #c05c2f),
);

$font-primary: Forum, cursive;
$font-secondary: 'PT Serif', serif;
